<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomerApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Authentication.AddPhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.OTP"
            android:exported="false" />
        <activity
            android:name=".Authentication.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>